{% ckan_extends %}

{# This file changes the default extras rendering on the dataset page and replaces it to just display our custom fields #}
{# 1.02 arb Thu Jan 24 16:45:29 GMT 2019 - Hide responsible_party_role, responsible_organisation_name, contact_mail_address #}

{% block extras %}
  {# SAERISCHEMA_ADDINFO_START #}
  {% if pkg_dict.saeri_region %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Region") }}</th>
      <td class="dataset-details">
      {% if pkg_dict.saeri_region == "FK" %} Falkland Islands
      {% elif pkg_dict.saeri_region == "SH" %} Saint Helena
      {% elif pkg_dict.saeri_region == "AC" %} Ascension Island
      {% elif pkg_dict.saeri_region == "TA" %} Tristan da Cunha
      {% elif pkg_dict.saeri_region == "GS" %} South Georgia
      {% elif pkg_dict.saeri_region == "MS" %} Montserrat
      {% elif pkg_dict.saeri_region == "UK" %} UK
      {% else %}
      {{ pkg_dict.saeri_region }}
      {% endif %}
      </td>
    </tr>
  {% endif %}
  {% if pkg_dict.saeri_language %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Language") }}</th>
      <td class="dataset-details">
        {{ pkg_dict.saeri_language }}
      </td>
    </tr>
  {% endif %}
  {% if pkg_dict.saeri_topic_category %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Topic Category") }}</th>
      <td class="dataset-details">
      {% if pkg_dict.saeri_topic_category == "biota" %} Biota; flora and/or fauna in natural environment
      {% elif pkg_dict.saeri_topic_category == "boundaries" %} Boundaries; legal land descriptions
      {% elif pkg_dict.saeri_topic_category == "atmosphere" %} Climatology - meteorology - atmosphere
      {% elif pkg_dict.saeri_topic_category == "economy" %} Economy; economic activities, conditions and employment
      {% elif pkg_dict.saeri_topic_category == "elevation" %} Elevation; height above or below sea level
      {% elif pkg_dict.saeri_topic_category == "environment" %} Environment; environmental resources, protection and conservation
      {% elif pkg_dict.saeri_topic_category == "farming" %} Farming; animals or plants
      {% elif pkg_dict.saeri_topic_category == "geoscientific" %} Geoscientific information; earth sciences
      {% elif pkg_dict.saeri_topic_category == "health" %} Health; health services, human ecology, safety
      {% elif pkg_dict.saeri_topic_category == "imagery" %} Imagery base maps earth cover
      {% elif pkg_dict.saeri_topic_category == "inlandwaters" %} Inland waters; drainage systems
      {% elif pkg_dict.saeri_topic_category == "intelligence" %} Intelligence - Military; bases, structures, activities
      {% elif pkg_dict.saeri_topic_category == "location" %} Location; positional information and services
      {% elif pkg_dict.saeri_topic_category == "ocean" %} Oceans; salt water bodies (not inland waters)
      {% elif pkg_dict.saeri_topic_category == "cadastre" %} Planning Cadastre; future land use
      {% elif pkg_dict.saeri_topic_category == "society" %} Society; and culture
      {% elif pkg_dict.saeri_topic_category == "structure" %} Structure; man-made construction
      {% elif pkg_dict.saeri_topic_category == "transport" %} Transportation; of persons and goods
      {% elif pkg_dict.saeri_topic_category == "utilities - communication" %} Utilities - Communication; energy, water and waste systems and communications infrastructure and services
      {% else %}
      {{ pkg_dict.saeri_topic_category }}
      {% endif %}
      </td>
    </tr>
  {% endif %}
  {% if pkg_dict.saeri_temporal_extent_start %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Temporal Extent Start") }}</th>
      <td class="dataset-details">
        {{ pkg_dict.saeri_temporal_extent_start }}
      </td>
    </tr>
  {% endif %}
  {% if pkg_dict.saeri_temporal_extent_end %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Temporal Extent End") }}</th>
      <td class="dataset-details">
        {{ pkg_dict.saeri_temporal_extent_end }}
      </td>
    </tr>
  {% endif %}
  {% if pkg_dict.saeri_dataset_reference_date %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Dataset Reference Date") }}</th>
      <td class="dataset-details">
        {{ pkg_dict.saeri_dataset_reference_date }}
      </td>
    </tr>
  {% endif %}
  {% if pkg_dict.saeri_lineage %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Lineage") }}</th>
      <td class="dataset-details">
        {{ pkg_dict.saeri_lineage }}
      </td>
    </tr>
  {% endif %}
  {% if pkg_dict.saeri_west_longitude %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("West Longitude") }}</th>
      <td class="dataset-details">
        {{ pkg_dict.saeri_west_longitude }}
      </td>
    </tr>
  {% endif %}
  {% if pkg_dict.saeri_south_latitude %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("South Latitude") }}</th>
      <td class="dataset-details">
        {{ pkg_dict.saeri_south_latitude }}
      </td>
    </tr>
  {% endif %}
  {% if pkg_dict.saeri_east_longitude %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("East Longitude") }}</th>
      <td class="dataset-details">
        {{ pkg_dict.saeri_east_longitude }}
      </td>
    </tr>
  {% endif %}
  {% if pkg_dict.saeri_north_latitude %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("North Latitude") }}</th>
      <td class="dataset-details">
        {{ pkg_dict.saeri_north_latitude }}
      </td>
    </tr>
  {% endif %}
  {% if pkg_dict.saeri_spatial_reference_system %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Spatial Reference System") }}</th>
      <td class="dataset-details">
        {{ pkg_dict.saeri_spatial_reference_system }}
      </td>
    </tr>
  {% endif %}
  {% if pkg_dict.saeri_responsible_organisation_name %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Responsible Organisation Name") }}</th>
      <td class="dataset-details">
      {% if (c.userobj and c.userobj.sysadmin) or ( pkg_dict.saeri_contact_consent and pkg_dict.saeri_contact_consent == "1" ) %}{{ pkg_dict.saeri_responsible_organisation_name }}
      {% else %}<i>Hidden (personal data protection)</i>
      {% endif %}</td>
      </td>
    </tr>
  {% endif %}
  {% if pkg_dict.saeri_contact_mail_address %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Contact Mail Address") }}</th>
      <td class="dataset-details">
      {% if (c.userobj and c.userobj.sysadmin) or ( pkg_dict.saeri_contact_consent and pkg_dict.saeri_contact_consent == "1" ) %}{{ pkg_dict.saeri_contact_mail_address }}
      {% else %}<i>Hidden (personal data protection)</i>
      {% endif %}</td>
      </td>
    </tr>
  {% endif %}
  {% if pkg_dict.saeri_responsible_party_role %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Responsible Party Role") }}</th>
      <td class="dataset-details">
      {% if (c.userobj and c.userobj.sysadmin) or ( pkg_dict.saeri_contact_consent and pkg_dict.saeri_contact_consent == "1" ) %}{{ pkg_dict.saeri_responsible_party_role }}
      {% else %}<i>Hidden (personal data protection)</i>
      {% endif %}</td>
      </td>
    </tr>
  {% endif %}
  {% if pkg_dict.saeri_access_limitations %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Access Limitations") }}</th>
      <td class="dataset-details">
      {% if pkg_dict.saeri_access_limitations == "open" %} Open access
      {% elif pkg_dict.saeri_access_limitations == "env-govt" %} Restricted, data environmentally sensitive, however data is open to government departments
      {% elif pkg_dict.saeri_access_limitations == "env-dept" %} Restricted, data environmentally sensitive, however data is open to members of the department
      {% elif pkg_dict.saeri_access_limitations == "env-rsch" %} Restricted, data environmentally sensitive, however data is open to researchers on the basis of a research agreement
      {% elif pkg_dict.saeri_access_limitations == "com-govt" %} Restricted, data commercially sensitive, however data is open to government departments
      {% elif pkg_dict.saeri_access_limitations == "com-dept" %} Restricted, data commercially sensitive, however data is open to member of the department
      {% elif pkg_dict.saeri_access_limitations == "com-rsch" %} Restricted, data commercially sensitive, however anonymised data is open to researchers on the basis of a research agreement
      {% elif pkg_dict.saeri_access_limitations == "mil" %} Restricted, military sensitivity
      {% elif pkg_dict.saeri_access_limitations == "env-com-govt" %} Restricted, data environmentally and commercially sensitive, however data is open to government departments
      {% elif pkg_dict.saeri_access_limitations == "env-com-dept" %} Restricted, data environmentally and commercially sensitive, however data is open to members of the department
      {% elif pkg_dict.saeri_access_limitations == "env-com-rsrc" %} Restricted, data environmentally and commercially sensitive, however anonymised data is open to researchers on the basis of a research agreement
      {% elif pkg_dict.saeri_access_limitations == "govt" %} Restricted to government departments
      {% elif pkg_dict.saeri_access_limitations == "org" %} Restricted to the organisation
      {% elif pkg_dict.saeri_access_limitations == "pub" %} Restricted until publication
      {% elif pkg_dict.saeri_access_limitations == "comm" %} Restricted, data commercially sensitive
      {% elif pkg_dict.saeri_access_limitations == "env" %} Restricted, data environmentally sensitive
      {% elif pkg_dict.saeri_access_limitations == "soc" %} Restricted, data socially sensitive
      {% elif pkg_dict.saeri_access_limitations == "licence" %} Restricted, licence apply
      {% elif pkg_dict.saeri_access_limitations == "dat_cus" %} Restricted, send data request to data custodian
      {% elif pkg_dict.saeri_access_limitations == "dat_own" %} Restricted, send data request to data owner
      {% elif pkg_dict.saeri_access_limitations == "pnt_con" %} Restricted, send data request to point of contact
      {% elif pkg_dict.saeri_access_limitations == "dat_cus_fees" %} Restricted, send data request to data custodian. Fees may apply
      {% elif pkg_dict.saeri_access_limitations == "fees" %} Restricted, fees may apply
      {% else %}
      {{ pkg_dict.saeri_access_limitations }}
      {% endif %}
      </td>
    </tr>
  {% endif %}
  {% if pkg_dict.saeri_use_constraints %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Use Constraints") }}</th>
      <td class="dataset-details">
      {% if pkg_dict.saeri_use_constraints == "open" %} Open
      {% elif pkg_dict.saeri_use_constraints == "notcommercial" %} Not for commercial use
      {% elif pkg_dict.saeri_use_constraints == "notfornav" %} Not to be used for navigational purposes
      {% elif pkg_dict.saeri_use_constraints == "researchonly" %} To be used for research only
      {% elif pkg_dict.saeri_use_constraints == "openbut" %} Open, but copyright and/or Intellectual Property Rights apply
      {% elif pkg_dict.saeri_use_constraints == "restricted" %} Restricted
      {% elif pkg_dict.saeri_use_constraints == "restrictedbut" %} Restricted, but open subject to limitations and prior agreement with responsible organisation. Copyright must be cited
      {% else %}
      {{ pkg_dict.saeri_use_constraints }}
      {% endif %}
      </td>
    </tr>
  {% endif %}
  {% if pkg_dict.saeri_data_format %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Data Format") }}</th>
      <td class="dataset-details">
        {{ pkg_dict.saeri_data_format }}
      </td>
    </tr>
  {% endif %}
  {% if pkg_dict.saeri_update_frequency %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Update Frequency") }}</th>
      <td class="dataset-details">
        {{ pkg_dict.saeri_update_frequency }}
      </td>
    </tr>
  {% endif %}
  {% if pkg_dict.saeri_accuracy %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Accuracy") }}</th>
      <td class="dataset-details">
        {{ pkg_dict.saeri_accuracy }}
      </td>
    </tr>
  {% endif %}
  {% if pkg_dict.saeri_resource_type %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Resource Type") }}</th>
      <td class="dataset-details">
        {{ pkg_dict.saeri_resource_type }}
      </td>
    </tr>
  {% endif %}
  {% if pkg_dict.saeri_original_title %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Original Title") }}</th>
      <td class="dataset-details">
        {{ pkg_dict.saeri_original_title }}
      </td>
    </tr>
  {% endif %}
  {% if pkg_dict.saeri_metadata_date %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Metadata Date") }}</th>
      <td class="dataset-details">
        {{ pkg_dict.saeri_metadata_date }}
      </td>
    </tr>
  {% endif %}
  {% if pkg_dict.saeri_metadata_point_of_contact %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Metadata Point of Contact") }}</th>
      <td class="dataset-details">
      {% if (c.userobj and c.userobj.sysadmin) or ( pkg_dict.saeri_contact_consent and pkg_dict.saeri_contact_consent == "1" ) %}{{ pkg_dict.saeri_metadata_point_of_contact }}
      {% else %}<i>Hidden (personal data protection)</i>
      {% endif %}</td>
      </td>
    </tr>
  {% endif %}
  {% if pkg_dict.saeri_contact_consent %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Contact Consent") }}</th>
      <td class="dataset-details">
      {% if pkg_dict.saeri_contact_consent == "0" %} Contact details hidden
      {% elif pkg_dict.saeri_contact_consent == "1" %} Contact details published
      {% else %}
      {{ pkg_dict.saeri_contact_consent }}
      {% endif %}
      </td>
    </tr>
  {% endif %}
  {% if pkg_dict.saeri_unique_resource_id %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Unique Resource ID") }}</th>
      <td class="dataset-details">
        {{ pkg_dict.saeri_unique_resource_id }}
      </td>
    </tr>
  {% endif %}
  {% if pkg_dict.saeri_research_permit_application_id %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Research Permit Application ID") }}</th>
      <td class="dataset-details">
      {% if (c.userobj and c.userobj.sysadmin) %}{{ pkg_dict.saeri_research_permit_application_id }}
      {% else %}<i>Hidden (internal use only)</i>
      {% endif %}
      </td>
    </tr>
  {% endif %}
  {# SAERISCHEMA_ADDINFO_END #}
{% endblock %}
